
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #f4f4f4;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #383838;
}
.header-login img{
  width: 50%;
  height: 50%;
}
.login-container {
  background: #ffffff;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

input[type="submit"], 
.login input[type="button"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

 input[type="button"]:hover,
.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
 input[type="button"]:focus, 
.login input[type="submit"]:focus {
  border-color: #05a;
}



/*#bg_page_login {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 2000px;
    z-index: 999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #666;
}

#bg_page_login .box_login {
    margin: auto;
    z-index: 9999999;
    position: relative;
}
#black_close {
    background: url(../image/bg_black.png?1361184094);
    width: 100%;
    height: 2000px;
    position: absolute;
    top: 0;
    left: 0;*/