
@media (max-width: 923px) {
 .service-karir {
    margin-bottom: 10px;
    cursor: default;
    height: 100px;
    padding-bottom: 5px;
    background: #fff;
    border-radius: 100px;
    padding-top: 10px;
    padding-left: 10px;
    min-width: 300px;
  }
}
@media (max-width: 992px) {
  .link-bottom{
    display: none;
  }
  .shade{ 
    width: 65%;
    left: 17.5%;
  }
  .video {
    width: 65%;
    box-shadow: 0px 6px 12px 0px #969696;
  }
  .section-float-right{
    display: none;
  }
  h2.section-title{
    text-align: center;
    display: block;
  }
  .section-subtitle{
    text-align: center;
    padding: 0px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 50px;
    border-left: none;
    padding-left: -100px;
    max-width: 100%;
    min-width: 350px;
  }
  .no-gutter{
  padding-right: 0px;
  padding-left: 0px;
  }
  /*.arrow{
    display: none;
  }*/
  .service-karir{
    margin-bottom: 10px;
    cursor: default;
    height: 100px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 100px;
    padding-top: 10px;
    padding-left: 10px;
    min-width: 300px;
  }
  p.control-p{
    display: none;
  }
  .img-karir{
    margin-bottom: 0px;
    width: 20%;
    margin-right: 20px;
    transition: all 0.35s ease-in-out;
  }
  .control-h{
    font-size: 25px;
    /*max-width: 400px;*/
    color: rgb(48, 48, 48);
  }
  hr.hr-3{
    display: none;
  }
  .background-gallery.shading {
    margin-top: 0px;
    max-width: 100%;
  }
  .subtext{
    display: none;
  }
  .list-style{
    color: rgb(75, 75, 75);
    list-style: none;
    padding: 5px 2  0px;
  }
  .main-logo {
    max-width: 150px;
  }
  .navbar-brand {
    padding:5px 0;
  }
  .service-box {
    margin: 20px auto 0;
  }
  .fa-3x {
    font-size: 2em;
  }
}